// lang vars
case process.env.NODE_ENV
  when 'ru'
    - var header = 'Меню'
    - var one = 'асып'
    - var two = 'бараньи ножки'
    - var three = 'баурсаки, голова барана'
    - var four = 'бесбармак'
    - var five = 'дастархан'
    - var six = 'карын'
    - var seven = 'каттама'
    - var eight = 'плов'
    - var nine = 'сладости'
    - var ten = 'чак-чак'
    - var button = 'Скачать меню'
  when 'kz'
    - var header = 'Menu'
    - var one = 'Әсіп'
    - var two = 'Қойдың сирағы'
    - var three = 'Бауырсақ, Қойдың басы'
    - var four = 'Асылған жылқы еті'
    - var five = 'Қазақ дастарқаны'
    - var six = 'қарын'
    - var seven = 'Қаттама'
    - var eight = 'Мерекелік палау'
    - var nine = 'Тәттілер'
    - var ten = 'Шәк-шәк'
    - var button = 'Скачать меню'
  when 'eng'
    - var header = 'Мәзірі'
    - var one = 'Asyp'
    - var two = 'Mutton trotters'
    - var three = 'Baursaks, mutton head'
    - var four = 'Besparmak with horse meat'
    - var five = 'Kazakh dastarkhan'
    - var six = 'Karyn'
    - var seven = 'Kattama'
    - var eight = 'Festive pilaf'
    - var nine = 'Sweets'
    - var ten = 'Chak-chak'
    - var button = 'Скачать меню'

section#menu_rest
  a(name="menu")
  .container
    h2 #{header}
    .sl_menu
      .slide
        img(src="images/dishes/1.jpg")
        h3 #{one}
      .slide
        img(src="images/dishes/2.jpg")
        h3 #{two}
      .slide
        img(src="images/dishes/3.jpg")
        h3 #{three}
      .slide
        img(src="images/dishes/4.jpg")
        h3 #{four}
      .slide
        img(src="images/dishes/5.jpg")
        h3 #{five}
      .slide
        img(src="images/dishes/6.jpg")
        h3 #{six}
      .slide
        img(src="images/dishes/7.jpg")
        h3 #{seven}
      .slide
        img(src="images/dishes/8.jpg")
        h3 #{eight}
      .slide
        img(src="images/dishes/9.jpg")
        h3 #{nine}
      .slide
        img(src="images/dishes/10.jpg")
        h3 #{ten}
    a(href="/menu.pdf" target="_blank").button #{button}
